# INFOVIS 2021 - Vacunaciones Argentina 2021
## 1) Obtención de Datos

Fuente: Ministerio de Salud de la Nación, Dirección de Control de Enfermedades Inmunoprevenibles (DiCEI)

Dosis Aplicadas en la República Argentina - [Dataset](http://datos.salud.gob.ar/dataset/vacunas-contra-covid19-dosis-aplicadas-en-la-republica-argentina)

In [1]:
import pandas as pd
import os

In [ ]:
!wget -c https://sisa.msal.gov.ar/datos/descargas/covid-19/files/datos_nomivac_covid19.zip

In [ ]:
!unzip datos_nomivac_covid19.zip

In [2]:
df = pd.read_csv("datos_nomivac_covid19.csv", dtype= {'jurisdiccion_residencia_id' : object, 
                                                      'depto_residencia_id'        : object, 
                                                      'jurisdiccion_aplicacion_id' : object, 
                                                      'depto_aplicacion_id'        : object})

In [4]:
df.head()

,sexo,grupo_etario,jurisdiccion_residencia,jurisdiccion_residencia_id,depto_residencia,depto_residencia_id,jurisdiccion_aplicacion,jurisdiccion_aplicacion_id,depto_aplicacion,depto_aplicacion_id,fecha_aplicacion,vacuna,condicion_aplicacion,orden_dosis,lote_vacuna
0,M,30-39,Buenos Aires,06,La Plata,441,Buenos Aires,06,Quilmes,658,2021-07-25,Sinopharm,18 a 39 años SIN Factores de Riesgo,1,202106B1335
1,F,18-29,Corrientes,18,Capital,021,Corrientes,18,Capital,021,2021-07-23,Sinopharm,18 a 39 años SIN Factores de Riesgo,1,202106B1345
2,M,60-69,Misiones,54,Eldorado,042,Misiones,54,Eldorado,042,2021-06-23,Sputnik,18 a 59 años CON Factores de Riesgo,1,I-810421
3,F,70-79,Buenos Aires,06,General Pueyrredón,357,Buenos Aires,06,General Pueyrredón,357,2021-08-12,Moderna,60 o más años,2,078C21A
4,F,30-39,San Juan,70,Santa Lucía,098,San Juan,70,Capital,028,2021-08-19,Moderna,18 a 59 años CON Factores de Riesgo,2,022D21A

In [8]:
df_jurisdiccion_aplicacion.rename(columns = {'jurisdiccion_aplicacion' : 'jurisdiccion'}, inplace = True)

## 2) Jurisdicciones con vacunaciones coincidentes y no coincidentes con su jurisdicción de residencia

Vacunaciones no coincidentes (no fueron vacunados en su jurisdicción de residencia)

In [25]:
df_vacunaciones_no_foraneas = df[df["jurisdiccion_residencia_id"] != df["jurisdiccion_aplicacion_id"]].groupby(by="jurisdiccion_aplicacion").size().to_frame(name="cantidad").reset_index()

In [26]:
df_vacunaciones_no_foraneas

   jurisdiccion_aplicacion  cantidad
0             Buenos Aires    834354
1                     CABA    520471
2                Catamarca     11223
3                    Chaco     44580
4                   Chubut     26383
5               Corrientes     34689
6                  Córdoba     89178
7               Entre Ríos     35236
8                  Formosa     26652
9                    Jujuy     29720
10                La Pampa     11583
11                La Rioja     17896
12                 Mendoza     47018
13                Misiones     47479
14                 Neuquén     39595
15               Río Negro     47334
16                   Salta     36844
17                San Juan     19854
18                San Luis     21309
19              Santa Cruz     18155
20                Santa Fe     85815
21     Santiago del Estero     35290
22        Tierra del Fuego     11452
23                 Tucumán     29242

Vacunaciones coincidentes (fueron vacunados en su jurisdicción de residencia)

In [27]:
df_vacunaciones_foraneas = df[df["jurisdiccion_residencia_id"] == df["jurisdiccion_aplicacion_id"]].groupby(by="jurisdiccion_aplicacion").size().to_frame(name="cantidad").reset_index()

In [28]:
df_vacunaciones_foraneas

   jurisdiccion_aplicacion  cantidad
0             Buenos Aires  18923952
1                     CABA   3684814
2                Catamarca    468198
3                    Chaco   1111476
4                   Chubut    604820
5               Corrientes   1103448
6                  Córdoba   4328855
7               Entre Ríos   1446575
8                  Formosa    679754
9                    Jujuy    790802
10                La Pampa    451206
11                La Rioja    450918
12                 Mendoza   2107670
13                Misiones   1027375
14                 Neuquén    737357
15               Río Negro    840527
16                   Salta   1284730
17                San Juan    869571
18                San Luis    610058
19              Santa Cruz    341396
20                Santa Fe   4160762
21     Santiago del Estero   1136626
22        Tierra del Fuego    196975
23                 Tucumán   1742921

Juntando datos de totales vacunados coincidentes y No coincidentes

In [29]:
df_merge_vacunaciones_foraneas = pd.merge(df_vacunaciones_foraneas, df_vacunaciones_no_foraneas, how='inner', on='jurisdiccion_aplicacion')
df_merge_vacunaciones_foraneas.rename(columns = {'cantidad_x' : 'cantidad_foraneas', 'cantidad_y' : 'cantidad_no_foraneas'}, inplace = True)

In [30]:
df_merge_vacunaciones_foraneas

   jurisdiccion_aplicacion  cantidad_foraneas  cantidad_no_foraneas
0             Buenos Aires           18923952                834354
1                     CABA            3684814                520471
2                Catamarca             468198                 11223
3                    Chaco            1111476                 44580
4                   Chubut             604820                 26383
5               Corrientes            1103448                 34689
6                  Córdoba            4328855                 89178
7               Entre Ríos            1446575                 35236
8                  Formosa             679754                 26652
9                    Jujuy             790802                 29720
10                La Pampa             451206                 11583
11                La Rioja             450918                 17896
12                 Mendoza            2107670                 47018
13                Misiones            1027375                 47479
14                 Neuquén             737357                 39595
15               Río Negro             840527                 47334
16                   Salta            1284730                 36844
17                San Juan             869571                 19854
18                San Luis             610058                 21309
19              Santa Cruz             341396                 18155
20                Santa Fe            4160762                 85815
21     Santiago del Estero            1136626                 35290
22        Tierra del Fuego             196975                 11452
23                 Tucumán            1742921                 29242

Exportamos en csv para poder trabajar con los datos

In [31]:
df_merge_vacunaciones_foraneas.to_csv(r'vacunaciones_foraneas.csv', index = False)

Vacunaciones no coincidentes por dosis (fueron vacunados en su jurisdicción de residencia)

In [32]:
df_vacunaciones_no_foraneas_dosis = df[df["jurisdiccion_residencia_id"] != df["jurisdiccion_aplicacion_id"]].groupby(["jurisdiccion_aplicacion", "orden_dosis"]).size().to_frame(name="cantidad").reset_index()

In [33]:
df_vacunaciones_no_foraneas_dosis

   jurisdiccion_aplicacion  orden_dosis  cantidad
0             Buenos Aires            1    485784
1             Buenos Aires            2    348570
2                     CABA            1    284478
3                     CABA            2    235993
4                Catamarca            1      7247
5                Catamarca            2      3976
6                    Chaco            1     27252
7                    Chaco            2     17328
8                   Chubut            1     16435
9                   Chubut            2      9948
10              Corrientes            1     22528
11              Corrientes            2     12161
12                 Córdoba            1     56381
13                 Córdoba            2     32797
14              Entre Ríos            1     21832
15              Entre Ríos            2     13404
16                 Formosa            1     17114
17                 Formosa            2      9538
18                   Jujuy            1     18939
19                   Jujuy            2     10781
20                La Pampa            1      6533
21                La Pampa            2      5050
22                La Rioja            1     10573
23                La Rioja            2      7323
24                 Mendoza            1     28588
25                 Mendoza            2     18430
26                Misiones            1     29247
27                Misiones            2     18232
28                 Neuquén            1     23965
29                 Neuquén            2     15630
30               Río Negro            1     28141
31               Río Negro            2     19193
32                   Salta            1     23514
33                   Salta            2     13330
34                San Juan            1     11741
35                San Juan            2      8113
36                San Luis            1     12037
37                San Luis            2      9272
38              Santa Cruz            1     11183
39              Santa Cruz            2      6972
40                Santa Fe            1     50379
41                Santa Fe            2     35436
42     Santiago del Estero            1     21252
43     Santiago del Estero            2     14038
44        Tierra del Fuego            1      6579
45        Tierra del Fuego            2      4873
46                 Tucumán            1     17300
47                 Tucumán            2     11942

Vacunaciones coincidentes por dosis (fueron vacunados en su jurisdicción de residencia)

In [34]:
df_vacunaciones_foraneas_dosis = df[df["jurisdiccion_residencia_id"] == df["jurisdiccion_aplicacion_id"]].groupby(["jurisdiccion_aplicacion", "orden_dosis"]).size().to_frame(name="cantidad").reset_index()

In [35]:
df_vacunaciones_foraneas_dosis

   jurisdiccion_aplicacion  orden_dosis  cantidad
0             Buenos Aires            1  10924460
1             Buenos Aires            2   7999492
2                     CABA            1   2026425
3                     CABA            2   1658389
4                Catamarca            1    290355
5                Catamarca            2    177843
6                    Chaco            1    682937
7                    Chaco            2    428539
8                   Chubut            1    357504
9                   Chubut            2    247316
10              Corrientes            1    686926
11              Corrientes            2    416522
12                 Córdoba            1   2437442
13                 Córdoba            2   1891413
14              Entre Ríos            1    855366
15              Entre Ríos            2    591209
16                 Formosa            1    413554
17                 Formosa            2    266200
18                   Jujuy            1    487687
19                   Jujuy            2    303115
20                La Pampa            1    243430
21                La Pampa            2    207776
22                La Rioja            1    258296
23                La Rioja            2    192622
24                 Mendoza            1   1205363
25                 Mendoza            2    902307
26                Misiones            1    627826
27                Misiones            2    399549
28                 Neuquén            1    429550
29                 Neuquén            2    307807
30               Río Negro            1    477419
31               Río Negro            2    363108
32                   Salta            1    791050
33                   Salta            2    493680
34                San Juan            1    494112
35                San Juan            2    375459
36                San Luis            1    334312
37                San Luis            2    275746
38              Santa Cruz            1    199339
39              Santa Cruz            2    142057
40                Santa Fe            1   2342258
41                Santa Fe            2   1818504
42     Santiago del Estero            1    647948
43     Santiago del Estero            2    488678
44        Tierra del Fuego            1    109230
45        Tierra del Fuego            2     87745
46                 Tucumán            1   1015922
47                 Tucumán            2    726999

In [36]:
df_merge_vacunaciones_foraneas_dosis = pd.merge(df_vacunaciones_foraneas_dosis, df_vacunaciones_no_foraneas_dosis,how='left', left_on=['jurisdiccion_aplicacion','orden_dosis'], right_on = ['jurisdiccion_aplicacion','orden_dosis'])
df_merge_vacunaciones_foraneas_dosis.rename(columns = {'cantidad_x' : 'cantidad_foraneas', 'cantidad_y' : 'cantidad_no_foraneas', 'orden_dosis_x' : 'orden_dosis'}, inplace = True)

In [37]:
df_merge_vacunaciones_foraneas_dosis

,jurisdiccion_aplicacion,orden_dosis,cantidad_foraneas,cantidad_no_foraneas
0,Buenos Aires,1,10924460,485784
1,Buenos Aires,2,7999492,348570
2,CABA,1,2026425,284478
3,CABA,2,1658389,235993
4,Catamarca,1,290355,7247
5,Catamarca,2,177843,3976
6,Chaco,1,682937,27252
7,Chaco,2,428539,17328
8,Chubut,1,357504,16435
9,Chubut,2,247316,9948
10,Corrientes,1,686926,22528
11,Corrientes,2,416522,12161
12,Córdoba,1,2437442,56381
13,Córdoba,2,1891413,32797
14,Entre Ríos,1,855366,21832
15,Entre Ríos,2,591209,13404
16,Formosa,1,413554,17114
17,Formosa,2,266200,9538
18,Jujuy,1,487687,18939
19,Jujuy,2,303115,10781
20,La Pampa,1,243430,6533
21,La Pampa,2,207776,5050
22,La Rioja,1,258296,10573
23,La Rioja,2,192622,7323
24,Mendoza,1,1205363,28588
25,Mendoza,2,902307,18430
26,Misiones,1,627826,29247
27,Misiones,2,399549,18232
28,Neuquén,1,429550,23965
29,Neuquén,2,307807,15630
30,Río Negro,1,477419,28141
31,Río Negro,2,363108,19193
32,Salta,1,791050,23514
33,Salta,2,493680,13330
34,San Juan,1,494112,11741
35,San Juan,2,375459,8113
36,San Luis,1,334312,12037
37,San Luis,2,275746,9272
38,Santa Cruz,1,199339,11183
39,Santa Cruz,2,142057,6972
40,Santa Fe,1,2342258,50379
41,Santa Fe,2,1818504,35436
42,Santiago del Estero,1,647948,21252
43,Santiago del Estero,2,488678,14038
44,Tierra del Fuego,1,109230,6579
45,Tierra del Fuego,2,87745,4873
46,Tucumán,1,1015922,17300
47,Tucumán,2,726999,11942

Exportamos en csv para poder trabajar con los datos

In [38]:
df_merge_vacunaciones_foraneas_dosis.to_csv(r'vacunaciones_foraneas_dosis.csv', index = False)