# INFOVIS 2021 - Vacunaciones Argentina 2021
## 1) Obtención de Datos

Fuente: Ministerio de Salud de la Nación, Dirección de Control de Enfermedades Inmunoprevenibles (DiCEI)

Dosis Aplicadas en la República Argentina - [Dataset](http://datos.salud.gob.ar/dataset/vacunas-contra-covid19-dosis-aplicadas-en-la-republica-argentina)

In [1]:
import pandas as pd
import os

In [ ]:
!wget -c https://sisa.msal.gov.ar/datos/descargas/covid-19/files/datos_nomivac_covid19.zip

In [ ]:
!unzip datos_nomivac_covid19.zip

In [4]:
df = pd.read_csv("datos_nomivac_covid19.csv", dtype= {'jurisdiccion_residencia_id' : object, 
                                                      'depto_residencia_id'        : object, 
                                                      'jurisdiccion_aplicacion_id' : object, 
                                                      'depto_aplicacion_id'        : object})

In [5]:
print('{:,}'.format(df.shape[0]))

51,222,138

In [6]:
df.head()

,sexo,grupo_etario,jurisdiccion_residencia,jurisdiccion_residencia_id,depto_residencia,depto_residencia_id,jurisdiccion_aplicacion,jurisdiccion_aplicacion_id,depto_aplicacion,depto_aplicacion_id,fecha_aplicacion,vacuna,condicion_aplicacion,orden_dosis,lote_vacuna
0,M,30-39,Buenos Aires,06,La Plata,441,Buenos Aires,06,Quilmes,658,2021-07-25,Sinopharm,18 a 39 años SIN Factores de Riesgo,1,202106B1335
1,F,18-29,Corrientes,18,Capital,021,Corrientes,18,Capital,021,2021-07-23,Sinopharm,18 a 39 años SIN Factores de Riesgo,1,202106B1345
2,M,60-69,Misiones,54,Eldorado,042,Misiones,54,Eldorado,042,2021-06-23,Sputnik,18 a 59 años CON Factores de Riesgo,1,I-810421
3,F,70-79,Buenos Aires,06,General Pueyrredón,357,Buenos Aires,06,General Pueyrredón,357,2021-08-12,Moderna,60 o más años,2,078C21A
4,F,30-39,San Juan,70,Santa Lucía,098,San Juan,70,Capital,028,2021-08-19,Moderna,18 a 59 años CON Factores de Riesgo,2,022D21A

Datos con fechas desde y hasta

In [7]:
[df.fecha_aplicacion.min(), df.fecha_aplicacion.max()]

['2020-12-29', '2021-09-28']

## Porcentaje de Vacunados por Jurisdicción.

In [40]:
df_jurisdiccion_aplicacion = df[df["orden_dosis"] == 2].groupby(by="jurisdiccion_aplicacion").size().to_frame(name="cantidad").reset_index()

In [41]:
df_jurisdiccion_aplicacion

   jurisdiccion_aplicacion  cantidad
0             Buenos Aires   8348062
1                     CABA   1894382
2                Catamarca    181819
3                    Chaco    445867
4                   Chubut    257264
5               Corrientes    428683
6                  Córdoba   1924210
7               Entre Ríos    604613
8                  Formosa    275738
9                    Jujuy    313896
10                La Pampa    212826
11                La Rioja    199945
12                 Mendoza    920737
13                Misiones    417781
14                 Neuquén    323437
15               Río Negro    382301
16                   Salta    507010
17                San Juan    383572
18                San Luis    285018
19              Santa Cruz    149029
20                Santa Fe   1853940
21     Santiago del Estero    502716
22        Tierra del Fuego     92618
23                 Tucumán    738941

In [42]:
df_jurisdiccion_aplicacion.rename(columns = {'jurisdiccion_aplicacion' : 'jurisdiccion'}, inplace = True)

In [43]:
df_pob_2021 = pd.read_csv("https://federodani.github.io/infovis2021/datasets/poblacion2021.tsv", sep="\t", dtype= {'id' : object})
df_pob_2021

    id         jurisdiccion  poblacion
0   06         Buenos Aires   17709598
1   14              Córdoba    3798261
2   02                 CABA    3078836
3   82             Santa Fe    3563390
4   50              Mendoza    2010363
5   90              Tucumán    1714487
6   30           Entre Ríos    1398510
7   66                Salta    1441988
8   22                Chaco    1216247
9   18           Corrientes    1130320
10  86  Santiago del Estero     988245
11  54             Misiones    1274992
12  38                Jujuy     779212
13  70             San Juan     789489
14  62            Río Negro     757052
15  58              Neuquén     672461
16  26               Chubut     629181
17  34              Formosa     610019
18  74             San Luis     514610
19  42             La Pampa     361394
20  46             La Rioja     398648
21  10            Catamarca     418991
22  78           Santa Cruz     374756
23  94     Tierra del Fuego     177697

In [44]:
df_merge = pd.merge(df_jurisdiccion_aplicacion, df_pob_2021, how='inner', on='jurisdiccion').drop(columns= ['id'])
df_merge

           jurisdiccion  cantidad  poblacion
0          Buenos Aires   8348062   17709598
1                  CABA   1894382    3078836
2             Catamarca    181819     418991
3                 Chaco    445867    1216247
4                Chubut    257264     629181
5            Corrientes    428683    1130320
6               Córdoba   1924210    3798261
7            Entre Ríos    604613    1398510
8               Formosa    275738     610019
9                 Jujuy    313896     779212
10             La Pampa    212826     361394
11             La Rioja    199945     398648
12              Mendoza    920737    2010363
13             Misiones    417781    1274992
14              Neuquén    323437     672461
15            Río Negro    382301     757052
16                Salta    507010    1441988
17             San Juan    383572     789489
18             San Luis    285018     514610
19           Santa Cruz    149029     374756
20             Santa Fe   1853940    3563390
21  Santiago del Estero    502716     988245
22     Tierra del Fuego     92618     177697
23              Tucumán    738941    1714487

## Jurisdicciones con vacunaciones foraneas y no foraneas

Vacunaciones no foráneas (no fueron vacunados en su jurisdicción de residencia)

In [45]:
df_vacunaciones_no_foraneas = df[df["jurisdiccion_residencia_id"] == df["jurisdiccion_aplicacion_id"]].groupby(by="jurisdiccion_aplicacion").size().to_frame(name="cantidad").reset_index()

In [46]:
df_vacunaciones_no_foraneas

   jurisdiccion_aplicacion  cantidad
0             Buenos Aires  18923952
1                     CABA   3684814
2                Catamarca    468198
3                    Chaco   1111476
4                   Chubut    604820
5               Corrientes   1103448
6                  Córdoba   4328855
7               Entre Ríos   1446575
8                  Formosa    679754
9                    Jujuy    790802
10                La Pampa    451206
11                La Rioja    450918
12                 Mendoza   2107670
13                Misiones   1027375
14                 Neuquén    737357
15               Río Negro    840527
16                   Salta   1284730
17                San Juan    869571
18                San Luis    610058
19              Santa Cruz    341396
20                Santa Fe   4160762
21     Santiago del Estero   1136626
22        Tierra del Fuego    196975
23                 Tucumán   1742921

Vacunaciones foráneas (fueron vacunados en su jurisdicción de residencia)

In [47]:
df_vacunaciones_foraneas = df[df["jurisdiccion_residencia_id"] == df["jurisdiccion_aplicacion_id"]].groupby(by="jurisdiccion_aplicacion").size().to_frame(name="cantidad").reset_index()

In [48]:
df_vacunaciones_foraneas

   jurisdiccion_aplicacion  cantidad
0             Buenos Aires  18923952
1                     CABA   3684814
2                Catamarca    468198
3                    Chaco   1111476
4                   Chubut    604820
5               Corrientes   1103448
6                  Córdoba   4328855
7               Entre Ríos   1446575
8                  Formosa    679754
9                    Jujuy    790802
10                La Pampa    451206
11                La Rioja    450918
12                 Mendoza   2107670
13                Misiones   1027375
14                 Neuquén    737357
15               Río Negro    840527
16                   Salta   1284730
17                San Juan    869571
18                San Luis    610058
19              Santa Cruz    341396
20                Santa Fe   4160762
21     Santiago del Estero   1136626
22        Tierra del Fuego    196975
23                 Tucumán   1742921

Juntando datos de Totales vacunados Foráneamente y No Foraneamente

In [50]:
df_merge_vacunaciones_foraneas = pd.merge(df_vacunaciones_foraneas, df_vacunaciones_no_foraneas, how='inner', on='jurisdiccion_aplicacion')
df_merge_vacunaciones_foraneas.rename(columns = {'cantidad_x' : 'cantidad_foraneas', 'cantidad_y' : 'cantidad_no_foraneas'}, inplace = True)

In [51]:
df_merge_vacunaciones_foraneas

   jurisdiccion_aplicacion  cantidad_foraneas  cantidad_no_foraneas
0             Buenos Aires           18923952              18923952
1                     CABA            3684814               3684814
2                Catamarca             468198                468198
3                    Chaco            1111476               1111476
4                   Chubut             604820                604820
5               Corrientes            1103448               1103448
6                  Córdoba            4328855               4328855
7               Entre Ríos            1446575               1446575
8                  Formosa             679754                679754
9                    Jujuy             790802                790802
10                La Pampa             451206                451206
11                La Rioja             450918                450918
12                 Mendoza            2107670               2107670
13                Misiones            1027375               1027375
14                 Neuquén             737357                737357
15               Río Negro             840527                840527
16                   Salta            1284730               1284730
17                San Juan             869571                869571
18                San Luis             610058                610058
19              Santa Cruz             341396                341396
20                Santa Fe            4160762               4160762
21     Santiago del Estero            1136626               1136626
22        Tierra del Fuego             196975                196975
23                 Tucumán            1742921               1742921

Exportamos en csv para poder trabajar con los datos

In [66]:
df_merge_vacunaciones_foraneas.to_csv(r'vacunaciones_foraneas.csv', index = False)

Vacunaciones no foráneas por dosis (fueron vacunados en su jurisdicción de residencia)

In [52]:
df_vacunaciones_no_foraneas_dosis = df[df["jurisdiccion_residencia_id"] != df["jurisdiccion_aplicacion_id"]].groupby(["jurisdiccion_aplicacion", "orden_dosis"]).size().to_frame(name="cantidad").reset_index()

In [53]:
df_vacunaciones_no_foraneas_dosis

   jurisdiccion_aplicacion  orden_dosis  cantidad
0             Buenos Aires            1    485784
1             Buenos Aires            2    348570
2                     CABA            1    284478
3                     CABA            2    235993
4                Catamarca            1      7247
5                Catamarca            2      3976
6                    Chaco            1     27252
7                    Chaco            2     17328
8                   Chubut            1     16435
9                   Chubut            2      9948
10              Corrientes            1     22528
11              Corrientes            2     12161
12                 Córdoba            1     56381
13                 Córdoba            2     32797
14              Entre Ríos            1     21832
15              Entre Ríos            2     13404
16                 Formosa            1     17114
17                 Formosa            2      9538
18                   Jujuy            1     18939
19                   Jujuy            2     10781
20                La Pampa            1      6533
21                La Pampa            2      5050
22                La Rioja            1     10573
23                La Rioja            2      7323
24                 Mendoza            1     28588
25                 Mendoza            2     18430
26                Misiones            1     29247
27                Misiones            2     18232
28                 Neuquén            1     23965
29                 Neuquén            2     15630
30               Río Negro            1     28141
31               Río Negro            2     19193
32                   Salta            1     23514
33                   Salta            2     13330
34                San Juan            1     11741
35                San Juan            2      8113
36                San Luis            1     12037
37                San Luis            2      9272
38              Santa Cruz            1     11183
39              Santa Cruz            2      6972
40                Santa Fe            1     50379
41                Santa Fe            2     35436
42     Santiago del Estero            1     21252
43     Santiago del Estero            2     14038
44        Tierra del Fuego            1      6579
45        Tierra del Fuego            2      4873
46                 Tucumán            1     17300
47                 Tucumán            2     11942

Vacunaciones foráneas por dosis (fueron vacunados en su jurisdicción de residencia)

In [54]:
df_vacunaciones_foraneas_dosis = df[df["jurisdiccion_residencia_id"] == df["jurisdiccion_aplicacion_id"]].groupby(["jurisdiccion_aplicacion", "orden_dosis"]).size().to_frame(name="cantidad").reset_index()

In [55]:
df_vacunaciones_foraneas_dosis

   jurisdiccion_aplicacion  orden_dosis  cantidad
0             Buenos Aires            1  10924460
1             Buenos Aires            2   7999492
2                     CABA            1   2026425
3                     CABA            2   1658389
4                Catamarca            1    290355
5                Catamarca            2    177843
6                    Chaco            1    682937
7                    Chaco            2    428539
8                   Chubut            1    357504
9                   Chubut            2    247316
10              Corrientes            1    686926
11              Corrientes            2    416522
12                 Córdoba            1   2437442
13                 Córdoba            2   1891413
14              Entre Ríos            1    855366
15              Entre Ríos            2    591209
16                 Formosa            1    413554
17                 Formosa            2    266200
18                   Jujuy            1    487687
19                   Jujuy            2    303115
20                La Pampa            1    243430
21                La Pampa            2    207776
22                La Rioja            1    258296
23                La Rioja            2    192622
24                 Mendoza            1   1205363
25                 Mendoza            2    902307
26                Misiones            1    627826
27                Misiones            2    399549
28                 Neuquén            1    429550
29                 Neuquén            2    307807
30               Río Negro            1    477419
31               Río Negro            2    363108
32                   Salta            1    791050
33                   Salta            2    493680
34                San Juan            1    494112
35                San Juan            2    375459
36                San Luis            1    334312
37                San Luis            2    275746
38              Santa Cruz            1    199339
39              Santa Cruz            2    142057
40                Santa Fe            1   2342258
41                Santa Fe            2   1818504
42     Santiago del Estero            1    647948
43     Santiago del Estero            2    488678
44        Tierra del Fuego            1    109230
45        Tierra del Fuego            2     87745
46                 Tucumán            1   1015922
47                 Tucumán            2    726999

In [62]:
df_merge_vacunaciones_foraneas_dosis = pd.merge(df_vacunaciones_foraneas_dosis, df_vacunaciones_no_foraneas_dosis,how='left', left_on=['jurisdiccion_aplicacion','orden_dosis'], right_on = ['jurisdiccion_aplicacion','orden_dosis'])
df_merge_vacunaciones_foraneas_dosis.rename(columns = {'cantidad_x' : 'cantidad_foraneas', 'cantidad_y' : 'cantidad_no_foraneas', 'orden_dosis_x' : 'orden_dosis'}, inplace = True)

In [63]:
df_merge_vacunaciones_foraneas_dosis

,jurisdiccion_aplicacion,orden_dosis,cantidad_foraneas,cantidad_no_foraneas
0,Buenos Aires,1,10924460,485784
1,Buenos Aires,2,7999492,348570
2,CABA,1,2026425,284478
3,CABA,2,1658389,235993
4,Catamarca,1,290355,7247
5,Catamarca,2,177843,3976
6,Chaco,1,682937,27252
7,Chaco,2,428539,17328
8,Chubut,1,357504,16435
9,Chubut,2,247316,9948
10,Corrientes,1,686926,22528
11,Corrientes,2,416522,12161
12,Córdoba,1,2437442,56381
13,Córdoba,2,1891413,32797
14,Entre Ríos,1,855366,21832
15,Entre Ríos,2,591209,13404
16,Formosa,1,413554,17114
17,Formosa,2,266200,9538
18,Jujuy,1,487687,18939
19,Jujuy,2,303115,10781
20,La Pampa,1,243430,6533
21,La Pampa,2,207776,5050
22,La Rioja,1,258296,10573
23,La Rioja,2,192622,7323
24,Mendoza,1,1205363,28588
25,Mendoza,2,902307,18430
26,Misiones,1,627826,29247
27,Misiones,2,399549,18232
28,Neuquén,1,429550,23965
29,Neuquén,2,307807,15630
30,Río Negro,1,477419,28141
31,Río Negro,2,363108,19193
32,Salta,1,791050,23514
33,Salta,2,493680,13330
34,San Juan,1,494112,11741
35,San Juan,2,375459,8113
36,San Luis,1,334312,12037
37,San Luis,2,275746,9272
38,Santa Cruz,1,199339,11183
39,Santa Cruz,2,142057,6972
40,Santa Fe,1,2342258,50379
41,Santa Fe,2,1818504,35436
42,Santiago del Estero,1,647948,21252
43,Santiago del Estero,2,488678,14038
44,Tierra del Fuego,1,109230,6579
45,Tierra del Fuego,2,87745,4873
46,Tucumán,1,1015922,17300
47,Tucumán,2,726999,11942

Exportamos en csv para poder trabajar con los datos

In [64]:
df_merge_vacunaciones_foraneas_dosis.to_csv(r'vacunaciones_foraneas_dosis.csv', index = False)